<section class="content">
<article>
    <h1 class="article-title"><a href=
        {% if post.link %}
        {{ post.link }} 
        {% else %} 
        {{ post.url }}
        {% endif %} >{{ post.title }}</a>
    </h1>
{% if post.date %}
<div class="article-subtitle">Published on {{ post.date | date_to_string: "ordinal", "US" }}</div>
{% endif %}
<div>{{ post.content }}</div>
</article>
<hr class="article-divider" />
</section>