<head>
<!-- Made with Liquid -->
<meta charset="utf-8"/>
<base href="{{ base_url }}/"/>

{% capture rendered_title %}
{% if page.title != site.title %} {{ page.title }} |{% endif %} {{ site.title }}
{% endcapture %}

<title>{{ rendered_title }}</title>

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="Blog for @WestonHanners" />
{% endif %}

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="alloc-init" />
<meta itemprop="description" content="Blog for @WestonHanners" />
<meta itemprop="image" content="{{ site.url }}/images/logo-v3-large.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@westonhanners" />
<meta name="twitter:creator" content="@westonhanners" />
<meta name="twitter:image" content="{{ site.url }}/images/logo-v3-large.png" />

<!-- OpenGraph -->
{% if page.collection == post %}
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
{% endif %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:image" content="{{ site.url }}/images/logo-v3-large.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- CSS -->
<link rel="stylesheet" href="assets/styles.css" type="text/css" />

<!-- Manifest -->
<link rel="manifest" href="/manifest.json">  
 
<!-- Icons -->
{% include icons.liquid %}

</head>
